<div class="container">
  <h1><%= @list.name %></h1>
  <ul>
    <% @list.favorites.each do |fave| %>
      <li><%= render "shared/restaurant_card", restaurant: fave.restaurant %></li>
    <% end %>
  </ul>
</div>
