// Define variables for your color scheme

// For example:
$red: #D45555;
$blue: #0D6EFD;
$yellow: #FACA5B;
$orange: #E67E22;
$green: rgba(66, 193, 166, 1);
$gray: #4A4A4A;
$light-gray: #E1EBEB;
$white: #FFFFFF;
$black: black;
