.bookingh1 {
  justify-self: center;
}

.card-body-booking {
  // display: flex;
  background-color: #FACA5B;
  box-shadow: 5px 4px 0 0 #faca5b, inset 5px 4px 0 0 white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #4A4A4A;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 335px;
  // height: 87px;
  transition: 0.1s ease-in-out;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.booking_container {
  display: grid;
  justify-content: center;
  align-content: center;
}
