// Import page-specific CSS files here.
@import "home";
@import "show";
@import "confirmation";
@import "booking";

.content-container {
  display: grid;
  justify-content: center;

  &.cancel {
    justify-content: unset;
  }
}

.index-header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.index-buttons {
  display: flex;
  justify-content: space-around;
}
