.card-image {
  width: 100%;
  object-fit: cover;
}

.show-page {
  display: grid;
}

.class1 {
  justify-content: center;
  position:relative
}

.class2 {
  background-color: #FACA5B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -35px;
  z-index: 1;
}

.menu-button {
  border: 2px solid black;
  background-color: #4A4A4A;
  box-shadow: 3px 3px 0 0 #4a4a4a, inset 3px 3px 0 0 white;
}

h1, .h1 {
  margin-top: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-display: bold;
  font-size: 32px;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-display: bold;
  font-size: 16px;
}

.review-scroller {
  display: grid;
  gap: 5%;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.review-element {
  width: 93vw;
}


.blockquote {
  text-align: center;
  grid-template-rows: min-content;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-display: bold;
  font-size: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 2px solid black;
  box-shadow: 3px 3px 0 0 #4a4a4a, inset 3px 3px 0 0 #ffffff;
  padding-left: 3px;
}

.menu-block {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  background-color: white;
  border-radius: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-display: bold;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 2px solid black;
  box-shadow: 3px 3px 0 0 #4a4a4a, inset 3px 3px 0 0 #ffffff;
}

.map-image {
  width: 100%;
  border-radius: 10px;
  height: 170px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 2px solid black;
  box-shadow: 3px 3px 0 0 #4a4a4a, inset 3px 3px 0 0 #ffffff;
}

.review p {
  margin-top: 10px;
  font-style: bold;
  padding-left: 3px;
}

.container {
  justify-content: center;
  display: grid;
}

.page {
  align-content: center;
}

.favorite-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}

.favorite-menu p {
margin-bottom: 0rem;
}

.btn:hover {
  border: none;
}

.btn-arrow {
position: absolute;
bottom: 0;
right: 0;
z-index: 2;

  .btn-arrow:hover {
    border: none;
  }
}

.button-base {
  width: 100%;
}
