<div class="container">
  <h1 class="booking-h1">Your Past Visits</h1><% @bookings.each do |booking| %>
      <%= render "shared/restaurant_card", restaurant: booking.restaurant %>
    <% end %>
  </div>
</div>

