<h1 class="bookingh1">Booking</h1><% @bookings.each do |booking| %>
  <div class="card-booking">
    <div class="card-body-booking">
      <%= booking.restaurant.name %>
      <%= booking.restaurant.cuisine %>
    </div>
  </div>
<% end %>
