<%= turbo_frame_tag "loading_results_tag" do %>
  <div class="title mt-5">
    <h1>Picking your restaurants...</h1>
  </div>
  <div class="loading position-absolute top-50 start-50 translate-middle">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
<% end %>
