  <%= turbo_frame_tag "search_3_tag" do %>
    <%= turbo_frame_tag "loading_results_tag" do %>
    <%= form_with url: food_choice_4_path, method: :get do | f |%>
    <div class="title pb-5 mb-5">
      <h1>How far are you willing to go?</h1>
    </div>
    <div class="pointer">
      <p><span id="rangeValue">10</span>km</p>
    </div>
    <div class="slider_wrapper pt-4">
      <div class="slider">
        <input name="distance" type="range" min="1" max="20" value="10" oninput="rangeValue.innerText = this.value">
      </div>
    </div>
      <div class="kilometers">
        <p>1km</p>
        <p>20km</p>
      </div>
     <%= f.submit "Next", class:"button-base primary-button mx-auto" %>
    <% end %>
  <% end %>
<% end %>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    </div>
