<%= turbo_frame_tag "search_tag" do %>
<%= turbo_frame_tag "search_2_tag" do %>
    <div class="title">
      <h1>What do you feel like eating?</h1>
    </div>

    <div class="media-scroller">
      <div class="media-element">
        <p class="title">Japanese</p>
        <img class="img-category" src="https://images.unsplash.com/photo-1580822184713-fc5400e7fe10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="japanese">
      </div>
      <div class="media-element">
        <p class="title">Italian</p>
        <img class="img-category"  src="https://images.unsplash.com/photo-1595295333158-4742f28fbd85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="italian">
      </div>
      <div class="media-element">
        <p class="title">Indonesian</p>
        <img class="img-category"  src="https://images.unsplash.com/photo-1562607635-4608ff48a859?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW5kb25lc2lhbiUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="indonesian">
      </div>
    </div>
    <div class="home_button">
      <div class="button-base primary-button mx-auto">
        <%= link_to "Next",  food_choice_2_path %>
      </div>
    </div>
  <% end %>

<% end %>
