<div class="container">
  <h1 class="text-center mb-4 fw-bold">Yuk Makan!</h1>
  <%= render "shared/restaurant_card", restaurant: @restaurant %>
  <button type="button" class="button-base primary-button mx-auto mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
    📞 Call to book
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <%= @restaurant.phone_number %>
        </div>
        <div class="modal-footer">
          <%= link_to "Call now", "tel:#{@restaurant.phone_number}" %>
        </div>
      </div>
    </div>
  </div>

</div>
