<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="justify-content-center">
        <h1 class="index-header">Et Voila!</h1>
      </div>
      <% @restaurants.each do |restaurant| %>
        <%= render 'shared/restaurant_card', restaurant: restaurant %>
      <% end %>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <div class="reject-button">
          <%= link_to "#" do %>
            <i class="fa-solid fa-x"></i>
          <% end %>
        </div>
      </div>

      <div class="col-6">
        <div class="accept-button">
          <%= link_to confirmation_path do  %>
            <i class="fa-solid fa-check"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
