<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="justify-content-center">
        <h1 class="index-header">Et Voila!</h1>
      </div>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="60000" data-controller="reject-buttons">
        <div class="carousel-inner">
          <% @restaurants.limit(3).each_with_index do |restaurant, index| %>
            <div id="card-<%= restaurant.id %>" class="carousel-item <%= 'active' if index.zero? %>" data-reject-buttons-target="reject">
              <%= render 'shared/restaurant_card', restaurant: restaurant %>
              <div class="buttons">
                <div class="row justify-content-center">
                  <div class="col-6">
                    <div class="reject-button" data-action="click->reject-buttons#delete">
                      <i class="fa-solid fa-x"></i>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="accept-button">
                      <%= link_to restaurant_bookings_path(restaurant), data: { turbo_method: :post } do  %>
                        <i class="fa-solid fa-check"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" data-reject-buttons-target="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>
</div>
