.button-base {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 4px solid $gray;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 55px;
  transition: 0.1s ease-in-out;
  font-weight: bold;
  font-size: 22px;

  &:hover {
    box-shadow: none;
  }

  a {
    text-decoration: none;
  }
}

.primary-button {
  background-color: $yellow;
  box-shadow:
    3px 3px 0 0 $yellow,
    inset 3px 3px 0 0 white;

  &:hover {
    background-color: $yellow;
  }

  a {
    color: $gray;
  }
}
.secondary-button {
  background-color: $green;
  box-shadow:
    3px 3px 0 0 $green,
    inset 3px 3px 0 0 white;

  &:hover {
    background-color: $green;
  }

  a {
    color: $gray;
  }
}

.menu-button {
  border: 2px solid $black;
  background-color: $gray;
  box-shadow:
    3px 3px 0 0 $gray,
    inset 3px 3px 0 0 white;

  &:hover {
    background-color: $gray;
  }

  a {
    color: $yellow;
  }
}

.accept-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid $gray;
  background-color: $green;
  font-size: 40px;
  margin: 10px;
  width: 70px;
  height: 70px;
  box-shadow:
    3px 3px 0 0 $green,
    inset 3px 3px 0 0 $white;
  transition: 0.1s ease-in-out;

  &:hover {
    box-shadow: none;
    background-color: $green;
  }

  a {
    color: $white;
  }
}

.reject-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid $gray;
  background-color: $red;
  font-size: 35px;
  margin: 10px;
  width: 70px;
  height: 70px;
  box-shadow: 3px 3px 0 0 $red, inset 3px 3px 0 0 $white;
  transition: 0.1s ease-in-out;

  &:hover {
    box-shadow: none;
    background-color: $red;
  }

  a {
    color: $white;
  }
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.budget_button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid $gray;
  background-color: white;
  box-shadow:
  0.1em 0.1em 0 0 white,
  inset 0.3em 0.3em 0 0 white;

  &:hover {
    box-shadow: none;
    background-color: $yellow;
  }

  a {
    text-decoration: none;
  }
}
