.footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  padding: 10px 10px;
  opacity: 3;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top-style: inset;
  border-color: #E1EBEB;
}
.footer-links {
  display: flex;
  align-items: center;
  color: #011414;
  justify-content: space-between;
  width: 75%;
}
.footer-links a {
  color: #011414;
  opacity: 1.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-icon {
  color: #011414;
}
