.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.logo_location{
  padding-left: 5px;
}

.location_name {
  color: $gray;
  display: inline;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 65px;
  height: 65px;
}

.fa-bars {
  font-size: x-large;
}

.button-menu {
  border-color: white;

  &:hover {
    border-color: white;
  }
}

.drop-menu {
  border-color: white;
  width: 50px;

  &:hover {
    border-color: white;
  }
}
